@{
    ViewData["Title"] = "Home Page";
}
<h2 style=" display: flex;justify-content: center;">Workforce Manager</h2>
<br />
<br />
<div style="margin: 0; padding: 0; display: flex;">
    
   
    <div class="image-container" style="flex: 1; height: 60vh; display: flex; align-items: left; justify-content: left; background: url('/images/image1.jpg');"></div>

    <div class="calendar-container" style="flex: 1; height: 25vh; display: flex; align-items: right; justify-content: right;">
        <!-- Add your calendar code here -->
        <iframe src="https://calendar.google.com/calendar/embed?src=your-calendar-id" width="450" height="380" frameborder="0" scrolling="no"></iframe>
    </div>

    
    
    @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>
